<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/team.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/"><img src="static/images/logo.jpeg" alt=""></a>
            </div>
            <h1 id="team"><span>team</span>PETVERSE</h1>
        </nav>
    </header>
    
        <div class="profiles">
            <div class="profile">
                <img src="static/images/img1.jpeg" class="profile-img" alt="">
                <h3 class="static/images/img1">Sathwik</h3>
                <h5>Member 1</h5>
            </div>
        
            <div class="profile">
                <img src="static/images/img4.jpeg" class="profile-img" alt="">
                <h3 class="img1">Nishitha</h3>
                <h5>Member 2</h5>
            </div>

            <div class="profile">
                <img src="static/images/img6.webp" class="profile-img" alt="">
                <h3 class="img1">Srilekha</h3>
                <h5>Member 3</h5>
            </div>

            <div class="profile">
                <img src="static/images/img2.jpeg" class="profile-img" alt="">
                <h3 class="img1">Varun</h3>
                <h5>Member 4</h5>
            </div>

            <div class="profile">
                <img src="static/images/img3.jpg" class="profile-img" alt="">
                <h3 class="img1">Guru kamal</h3>
                <h5>Member 5</h5>
            </div>
        </div>
    

        <%-include('./partials/footer.ejs') %> 
</body>

</html>